RecipeApplication.xcodeproj/xcuserdata/likanozadze.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

RecipeApplication.xcodeproj/project.xcworkspace/xcuserdata/likanozadze.xcuserdatad/UserInterfaceState.xcuserstate
